{% load staticfiles %}
<html>
    <head>
        <img src="https://pbs.twimg.com/profile_images/476278600509825024/i3T9-YWq.jpeg" width=50% height=10%>
        <title>{% block title %}Wantedly Coding Challenge{% endblock %}</title>
    </head>
    <body>
        <div id="title">
            {% block atitle %}
                <h1>Wantedly Coding Challenge</h1>
            {% endblock atitle %}
        </div>
        <div id="header">
            {% block menu %}
                {% if not user.is_authenticated %}
                    <a href="/profiles/login_user/">Login </a>
                    <a href="/profiles/register_user/">- Register</a>
                {% endif %}
                {% if user.is_authenticated%}
                    <br />
                    Welcome: {{ username }}
                    <a href="{% url 'logout_user' %}"> - Logout - </a>
                {% endif %}
            {% endblock menu %}
        </div>
        <hr/>
            {% block content %}
            {% endblock content %}
        <hr/>
        {% block footer %}
            <div id="footer">
                Web developed by Javier Fernandez
                <br /><br />
                <img src="https://pbs.twimg.com/profile_images/476278600509825024/i3T9-YWq.jpeg" width=50% height=10%>
            </div>
        {% endblock footer %}
    </body>
</html>
