{% load staticfiles %}

<script type="text/javascript">
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function getID(oObject) {
        //clearTimeout(myRefresh);
        //setTimeout(refresh, 10000)
        var id = oObject.id;//
        var cell = oObject.innerHTML;

        var amIcat = '{{ request.session.amIcat }}';
        var isMyTurn = '{{request.session.myTurn}}';
        id = id.substr(3);
        if (isMyTurn == "True") {
            if(amIcat == "True"){
                if(getCookie("origin") != "" ) {
                    var origin = getCookie("origin");
                    document.cookie = "origin=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
                    $.ajax({
                        type: "POST",
                        url: "/profiles/move/", // this should grab only #table element...
                        data: {
                            'origin':origin,
                            'target': id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',//security token
                        },
                    })
                    $(document).ajaxStop(function () {
                        window.location.reload();
                    });
                } else if  ( cell.indexOf("x") > -1) {
                    document.cookie = "origin="+id+";";
                } else {
                    alert("Elige un gato");
                }

            } else if(amIcat=="False"){
                $.ajax({
                    type: "POST",
                    url: "/profiles/move/", // this should grab only #table element...
                    data: {
                        'origin': id,
                        'target': id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',//security token
                    },
                })

                $(document).ajaxStop(function () {
                    window.location.reload();
                });
            }
        }

    }

</script>
{%if moveDone %}
    <script type="text/javascript">
        window.locate.reload(true);
    </script>
{% endif %}

{%if end%}

{% endif %}
{% if board %}
<table id="chess_board" cellpadding="0" cellspacing="0">
    <div id="myTurn">
        It is my turn: {{myTurn}}<br/>
    </div>
    {% for item in board %}
        {% if forloop.counter0|divisibleby:8 %}
            <tr>{% endif %}
        <td id=id_{{ forloop.counter0}} onclick="getID(this);" >
        {% if item ==  0 %}
        {% elif item == 1 %} x
        {% else %} y
        </td>
        {% if forloop.counter|divisibleby:8 or forloop.last %}
            </tr>
        {% endif %}
    {% endif %}
{% endfor %}
</table>
{% else %}
empty board ?
    <h2>{{message}}</h2>
{% endif %}

