{% extends "webUser/base.html" %}
{% load staticfiles %}

<!-- {% block extra_css %}
    <link rel="stylesheet" href="{% static "css/mycss.css" %}" type="text/css"  />
{% endblock extra_css %} -->

<!-- {% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        var myRefresh;
        function refresh() {
            var refresca = '{{request.session.refresca}}';
            console.log(refresca);
            if (refresca == 'True'){
                $.ajax({
                    url: '/webUser/status_board/',
                    success: function (data) {
                        $('#board').html(data);
                        myRefresh = setTimeout(refresh, 2000);
                    }
                })
            }
        }
        function show(){
            $.ajax({
                url: '/webUser/status_board/',
                success: function (data) {$('#board').html(data);}
            })
        }
    </script>
{% endblock extra_js %} -->

{% block content %}
    <div>
        {% if user.is_authenticated %}
            <script type="text/javascript">
                show();
                var isMyTurn = '{{myTurn}}';
                console.log(isMyTurn);
                if (isMyTurn == "False"){
                    refresh();
                }
            </script>
            <div id="board">
                General information: 
                <br />
                Name: {{ username }}
                <br />
                Email: {{ Person.email }}





            </div>
        {% else %}
            <h3>Login or registrate in this web</h3>
        {% endif %}
    </div>
{% endblock content %}
