{% load staticfiles %}
{% block extra_css %}
      <link rel="stylesheet" href="{% static "css/mycss.css" %}" type="text/css"  />
{% endblock extra_css %}

<!DOCTYPE html>
<html>
    <head>
        <title>Raton y Gato</title>
    </head>

        <h1>Join Game</h1>

        {% if thereIsGame %}
        Te has unido al juego con id: {{game.id}}<br />
        EL gato es {{game.catUser.username}} y el raton {{game.mouseUser.username}} <br />
        con IDs {{game.catUser.id}} y {{game.mouseUser.id}} respectivamente<br />
            <a href="/profiles/index">Volver</a>
        {% else %}
            Esperando a un jugador gato
            <script type="text/javascript">
                setTimeout(function(){
                    window.location.reload(1);
                }, 5000)
            </script>
        {% endif %}

    </body>
</html>