{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Wantedly Coding Challenge</title>
    </head>
    <body>
        <h1>Login User</h1>
        {% if user.is_authenticated %}
            <script type="text/javascript">
                window.location.href = "{% url 'main_page' %}"
            </script>
        {% else %}
            <form id="login_form" method="post" action="/profiles/login_user/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />
                <input type="submit" value="submit" />
            </form>
        {% endif %}
        <br />
        <a href="/profiles/index">Come back to the Index</a>
    </body>
</html>
