{% extends "webUser/base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="board">
        <h4>General information:</h4> 
        Username: {{ user.username }}
        <br />

        Email: {{ person.email }}
        <br />

        {% if person.name %}
            Name: {{ person.name }}
            <br />
            Age: {{ person.age }}
        {% else %}
            <form id="name_form" method="post" action="/profiles/profile_page/">
                {% csrf_token %}                    
                Insert your name: <input type="name" name="name" value="" size="50" />
                <br />
                Insert your age: <input type="age" name="age" value="" size="50" />
                <br />
                <input type="submit" value="submit" />
            </form>
        {% endif %}
        <br/>

        <br />
        <h4>My skills:</h4>
        {% for skill in skill_objects %}
            {% if skill.person == user.username %}
                {{ skill.skill }} {{ skill.number_of_likes }}<br \><br \>
            {% endif %}
        {% endfor %}

        <form id="skill_form" method="post" action="/profiles/profile_page/">
            {% csrf_token %}                    
            Insert your new skill: <input type="skill" name="skill" value="" size="50" />
            <br />
            <input type="submit" value="submit" />
        </form>

        <br /><br />
        Go to <a href="{% url 'main_page' %}"> - Main Page - </a>
        <br /><br />
        Go to <a href="{% url 'users_page' %}"> - Users Page - </a>
        <br /><br />
    </div>
{% endblock content %}
