{% extends "webUser/base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="board">
        
        In this section, the users and their respective skills are mentioned. 
        <br \> 
        Press like if you like their skills.
        <br \> 

        {% for personList in people %}
            {% if personList.username != person.username %}
            	<h4>{{ personList.username }}</h4>
    			{% for skill in skill_objects %}
		            {% if skill.person == personList.username %}
		                {{ skill.skill }} -> {{ skill.number_of_likes }}
                        <form id="likes_form" method="post" action="/profiles/users_page/">
                            {% csrf_token %}
                            <!-- I like it: <input type="checkbox" name="checkbox" value="{{ skill.skill }}" {% if flag == 1 %} checked {% elif flag == 0 %} unchecked {% endif %} /> -->
                            I like it: <input type="checkbox" name="checkbox" value="{{ skill.skill }}"/>
                            <input type="submit" value="submit" />
                        </form>
		            {% endif %}
    			{% endfor %}
            {% endif %}
        {% endfor %}

        <br />
        <br />
        Go to <a href="{% url 'main_page' %}"> - Main Page - </a>
        <br /><br />
        Go to <a href="{% url 'profile_page' %}"> - Profile Page - </a>
        <br /><br />

    </div>
{% endblock content %}
